*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$gutter: 8px;

$tablet: (min-width: 660px);

body {
    padding: $gutter;
    background-color: lightgrey;
}

.card {
    padding: $gutter * 2;
    background-color: #fff;
    border-radius: 4px;
}


.form-item {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-left: $gutter * 1.5;
    margin-bottom: $gutter / 2;
    font-weight: 500;
}

.form-input {
    border: 3px solid rebeccapurple;
    border-radius: 3px;
    padding: $gutter * 2;
}

.form-button {
    background-color: rebeccapurple;
    color: #fff;
    padding: $gutter * 2;
    width: 100%;
    border: 1px solid rebeccapurple;
    border-radius: inherit;
    text-align: left;
    margin-top: $gutter;

    @media #{$tablet} {
        width: 200px;
        display: flex;
        margin-left: auto;
    }
}

.form-group {
    > .form-item {
        margin-top: $gutter * 2;
    }

    @media #{$tablet} {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: $gutter;
    }
}
